<%- include('../partials/header')%>


<% for (let item of cartContent){%>
    <div class="card w-70">
        <div class="card-body">
          <img src="<%=item.image%>" width = 30% alt="">
          <h5 class="card-title"><%=item.name%></h5>
          <h5>$<%=item.price%> </h5>
          <%=item.desc%> 
          
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolore enim dignissimos. Similique, vitae aspernatur.</p>
         


          <form action="/users/cart/<%= item._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-info">Remove</button>
          </form>
         
        </div>
      </div>
      <%console.log('this is item.name', item.name) %>
<% } %> 



<%- include('../partials/footer')%>             


